.valuationContainer{
    width: 50%;
    float:left;

}
.keyCompetitorsContainer{
    width: 50%;
    float:left;
    
}
.statisticsFont{
    font-size: 13px;
}
.tableClass {
    width: 90%;
} 
table.tableClass, table.tableClass th, table.tableClass td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  table.tableClass th, table.tableClass td {
    padding: 7px;
  }