.price-page-title-header{
    border-bottom: 1px solid #cecece;
    margin-left: auto;
    margin-right: auto; width:98%;
    text-align: left;
    margin-top:10px !important; 
    font-weight: bold;
}